body{
    background-color: #ddd;
}

.cuadrado{
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 32px;
    color: burlywood;
    text-align: center;
    
}  

.rojo{
background-color: red;

}


li{
list-style: none;
}


.cuadradosContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: grey;
    
}